<div class="container">
  <h1>To-Do List</h1>
  <h3>Edit Task:</h3>
  <form action="/save-edit" method="post">
    <input type="hidden" name="_id" value="{{task._id}}">
    <input type="text" id="taskInput" placeholder="Enter your task" value="{{task.Task}}" name="task">
    <button id="addButton" type="submit">Save Edit</button>
  </form>
</div>